<!doctype html>
<html lang="en">
<head>
	<title>Iconic Queer Quotes</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href='{{url_for("static", filename = "css/styles.css")}}'>
</head>

<body>
<header id="header"> 
	<nav id="admin-navbar">
		<ul>
			<li class="navbar-item">
				<a href="{{ url_for('main.admin_sign_up') }}">Admin Sign Up</a>
			</li>
            <li class="navbar-item">
				<a href="{{ url_for('main.admin_login') }}">Admin Login</a>
			</li>
			{% if current_user.is_authenticated %}
			<li class="navbar-item">
				<a href="{{ url_for('main.admin_login') }}">Edit Database</a>
			</li>
			<li class="navbar-item">
				<a href="{{ url_for('main.review_submission') }}">Review Submission</a>
			</li>
			<li class="navbar-item">
				<a href="{{ url_for('main.admin_logout') }}">Logout</a>
			</li>
			{% endif %}
		</ul>
	</nav>	
	<h1><a href="{{ url_for('main.index') }}">Iconic Queer Quotes</a></h1> 
	<nav id="navbar">
		<ul>
			<li class="navbar-item">
				<a href="{{ url_for('main.random') }}">Random Quote</a>
			</li>
            <li class="navbar-item">
				<a href="{{ url_for('main.database') }}">See Quote Database</a>
			</li>
            <li class="navbar-item">
				<a href="{{ url_for('main.submit') }}">Submit a Quote!</a>
			</li>
		</ul>
	</nav>	
</header>
