{% include "htmltop.html" %}

<div class="container">
	<h1>The Iconic Queer Quote of the Day is ...</h1>
	<div id="daily-quote" class="quote-large"><p>"Something" -A queer person</p></div>
	<div id="home-page-options">
		<h2>Want more iconic queer quotes?</h2>
		<div class="random-quote">
			<h3>Generate a Random Quote</h3>
			<div class="quote-large">
				<p>"Something" -A queer person</p>
			</div>
			<button type="button">Random Quote</button> 
		</div>
		<h2>Or</h2>
		<div id="home-page-db-link">
			<h3>Search our Database</h3>
			<button type="button">Find a Quote</button> 
		</div>
	</div>
</div>

</body>
</html>