{% include "htmltop.html" %}

<div class="container">
	<h1>Review Submissions</h1>
	<div class="db-results">
		<table>
			<tr>
				<th>ID</th>
				<th>Author</th>
				<th>Quote</th>
				<th>Tags</th>
				<th>Options</th>
			</tr>
			{% for submission in submissions %}
				<tr>
					<td>{{submission.id}}</td>
					<td>{{submission.author}}</td>
					<td class="quote-data">{{submission.quote}}</td>
					<td>{{submission.tags}}</td>
					<td>
						<form method="POST" action="{{ url_for('main.review_submission') }}">
							{{ form.hidden_tag() }}
							{{ form.id(type="hidden", value=submission.id) }}
							{{ form.approve }}
							{{ form.reject }}
						</form>
					</td>
				</tr>
			{% endfor %}
		</table> 
	</div>
</div>

</body>
</html>